<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
</head>
<body>
  <h1><%= user.username %>'s Shopping Cart</h1>
  <h2>Your Items:</h2>
  <ul>
    <% for (var i = 0; i < cartItems.length ; i++) { %>
        <li> cart id: <%= cartItems[i].cart_id %>,  user id: <%= cartItems[i].userId %>,  item id: <%= cartItems[i].itemId %></li>
    <% } %>
  </ul>
  <a href="/">HOME</a>
</body>
</html>
